/**************************/
/******Fonts Import********/
/**************************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rubik+Broken+Fax&display=swap"); /*Rubik Broken Fax*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Seymour+One&display=swap"); /*Seymour One*/

/**************************/
/*******Tags Style*********/
/**************************/

body {
  background-image: url("./images/body-background.jpg");
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #fe000087;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  font-size: 3rem;
  font-family: "Rubik Broken Fax";
  color: #ffeb3b;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

main {
  box-sizing: border-box;
  height: 100%;
  width: 90%;
  margin: 25px;
  display: flex;
  justify-content: space-around;
  background-color: #0000001c;
}

footer {
  color: #ffeb3b;
  font-size: small;
  background-color: #0000004a;
  padding: 5px 10px;
  word-spacing: 5px;
}

button {
  margin-top: 35px;
  width: 50%;
  padding: 5px;
  background-color: crimson;
  border: 2px solid crimson;
  color: #f7df3b;
  font-family: "Seymour One";
}

button:hover {
  cursor: pointer;
  background-color: #f7df3b;
  border: 2px solid #f7df3b;
  color: crimson;
  transition: all 150ms;
}

button:active {
  background-color: black;
  transition: all 50ms;
}

/**************************/
/******Classes Style*******/
/**************************/
.scoreContainer {
  background-color: black;
  width: 100%;
}

.scoreContainer h1 {
  color: #fde73b;
  font-family: "Seymour One";
  font-size: 2rem;
  text-align: center;
}

.scoreContainer h2 {
  color: #fde73b;
  font-family: "Seymour One";
  font-size: 1rem;
  text-align: center;
}


.playerContainer,
.aiContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.gameControls {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerContainer h1,
.aiContainer h1 {
  font-size: 2rem;
  text-align: center;
  margin: 25px;
  color: yellow;
  font-family: "Rubik Broken Fax";
}

.pG,
.aG {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  box-sizing: border-box;
  height: 55%;
  margin: 15px;
  padding-top: 15px;
  padding-right: 10px;
  background-color: #ffffff54;
  box-shadow: 0px 2px 10px 0px rgb(1 120 166);
  gap: 1px;
}

.lBCell,
.nBCell {
  text-align: center;
  align-self: center;
  font-size: large;
  font-weight: 900;
}

.nBCell {
  align-self: end;
}

.pGCell,
.aGCell {
  background-color: #0f365785;
}


